.overview-main-container .main-wrapper span {
	content: '';
	display: inline-block;
	vertical-align: middle;
}

.overview-main-container .main-wrapper .entrancelogo {
	display: inline-block;
	width: 900px;
	height: 700px;
	vertical-align: middle;
}

.overview-main-container .main-wrapper .entrancelogo img {
	display: block;
	width: 100%;
}
